
.header {
   padding: 50px 100px;
   text-align: center;
   background-color: #999999;
   font-size: 32px;
   font-family: Sans-Serif;
   color: #ffffff;
}

.main {
   background-color: rgba(0, 255, 0, 0.671);
   padding: 50px 100px;
   font-size: 38px;
   font-family: Sans-Serif;
   text-align: center;
   color: #fff;
}